.post {
    margin: 2rem;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user {
    float: right;
    font-size: small;
    color: gray;
}